<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aluminium - Persebaran Alumni</title>

<link href="<?php echo base_url('assets/css/bootstrap.min.css');?>" rel="stylesheet">
<link href="<?php echo base_url('assets/css/datepicker3.css');?>" rel="stylesheet">
<link href="<?php echo base_url('assets/css/styles.css');?>" rel="stylesheet">

<!--Icons-->
<script src="<?php echo base_url('assets/js/lumino.glyphs.js');?>"></script>

<!-- javascript menampilkan lokasi saat ini -->
<script type="text/javascript">
if(navigator.geolocation){
  navigator.geolocation.getCurrentPosition(success, fail);
}else{
  alert('sorry tidak suport geolocation');
}

function success(position){
  document.getElementById('lat').value = position.coords.latitude;
  document.getElementById('long').value = position.coords.longitude;
}

function fail() {

}

function prosesHaversine() {
}

</script>

<!-- konfigurasi library googlemaps oleh biostall -->
<?php
  echo $map['js']
?>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
  <script type="text/javascript">
    var centreGot = false;
  </script>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<?php echo site_url('Alumni');?>"><span>Aluminium</span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <?php echo $nama; ?> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="<?php echo site_url('Alumni/profile_alumni');?>"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="<?php echo site_url('Alumni/logout');?>"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
    <!-- /.container-fluid -->
	</nav>
  <!-- navbar -->

  <!-- sidebar -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="<?php echo site_url('Alumni');?>"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
			<li><a href="<?php echo site_url('TracerStudy');?>"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tracer Study</a></li>
			<li class="active"><a href="<?php echo site_url('Alumni/PersebaranAlumni');?>"><svg class="glyph stroked map"><use xlink:href="#stroked-map"></use></svg> Pencarian Alumni</a></li>
			<li><a href="<?php echo site_url('Karir');?>"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Informasi Karir</a></li>
			<li><a href="<?php echo site_url('Alumni/Stakeholder');?>"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Stakeholders</a></li>
		</ul>
		<!-- <div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/><a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a></div> -->
	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row" id="form_inputan_latlng">
			<div class="col-lg-12">
				<h1 class="page-header">Peta Aluminium</h1>
        <h4>Koordinat Posisi Anda (latitude - longitude)</h4>
        <?php
        echo form_open('Alumni/PersebaranAlumni');
        $data = array(
          'name' => 'lat',
          'id' => 'lat',
          'class' => 'input_box'
        );
        echo form_input($data);

        $data2 = array(
          'name' => 'long',
          'id' => 'long',
          'class' => 'input_box'
        );
        echo form_input($data2);

        $data3 = array(
          'type' => 'submit',
          'value' => 'Cari Alumni Terdekat',
          'name' => 'submit',
          'class' => 'submit'
        );
        echo form_input($data3);
        if($id_alumnifk == null || $id_alumnifk == '' || $id_alumnifk == 0){
          echo "<== Silahkan Klik Tombol di sebelah kiri ini untuk mencari Alumni terdekat.";
        }else{
          // var_dump($id_alumnifk);
          echo '<br><a href="http://localhost:8080/aluminiumv3/index.php/Alumni/PersebaranAlumni"><< Kembali ke Peta Aluminium</a>';
        }

        ?>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <?php
          echo $map['html'];
        ?>
      </div>
    </div>
	</div>	<!--/.main-->


	<script src="<?php echo base_url('assets/js/jquery-1.11.1.min.js');?>"></script>
	<script src="<?php echo base_url('assets/js/bootstrap.min.js');?>"></script>
	<script src="<?php echo base_url('assets/js/chart.min.js');?>"></script>
	<script src="<?php echo base_url('assets/js/chart-data.js');?>"></script>
	<script src="<?php echo base_url('assets/js/easypiechart.js');?>"></script>
	<script src="<?php echo base_url('assets/js/easypiechart-data.js');?>"></script>
	<script src="<?php echo base_url('assets/js/bootstrap-datepicker.js');?>"></script>
  <script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
</body>
</html>
