<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aluminium - Dashboard</title>

<link href="<?php echo base_url('assets/css/bootstrap.min.css');?>" rel="stylesheet">
<link href="<?php echo base_url('assets/css/datepicker3.css');?>" rel="stylesheet">
<link href="<?php echo base_url('assets/css/styles.css');?>" rel="stylesheet">

<!--Icons-->
<script src="<?php echo base_url('assets/js/lumino.glyphs.js');?>"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body >
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<?php echo site_url('Alumni');?>"><span>Aluminium</span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <?php echo $nama; ?> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="<?php echo site_url('Alumni/logout');?>"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- navbar -->

	<!-- sidebar -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="<?php echo site_url('Alumni');?>"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
			<li><a href="<?php echo site_url('TracerStudy');?>"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tracer Study</a></li>
			<li><a href="<?php echo site_url('Alumni/PersebaranAlumni');?>"><svg class="glyph stroked map"><use xlink:href="#stroked-map"></use></svg> Pencarian Alumni</a></li>
			<li><a href="<?php echo site_url('Karir');?>"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Informasi Karir</a></li>
			<li><a href="<?php echo site_url('Alumni/Stakeholder');?>"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Stakeholders</a></li>
		</ul>
		<!-- <div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/><a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a></div> -->
	</div>
	<!-- sidebar -->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Profile Alumni</h1>
			</div>
		</div><!--/.row-->

		<!-- profile alumni -->
		<?php foreach($data_alumni as $row):?>
		<div class="row">
			<div class="col-lg-12 table-responsive">
				<table class="table">
					<tr>
						<td><h3>Nama</h3></td>
						<td><h3><?php echo ': '.$row->nama;?></he></td>
					</tr>
					<tr>
						<td><h3>Alamat Asal </h3></td>
						<td><h3><?php echo ': '.$row->alamat_asal;?></he></td>
					</tr>
					<tr>
						<td><h3>Tanggal Lahir</h3></td>
						<td><h3><?php echo ': '.$row->tanggalLahir;?></h3></td>
					</tr>
					<tr>
						<td><h3>Email </h3></td>
						<td><h3><?php echo ': '.$row->email;?></he></td>
					</tr>
					<tr>
						<td><h3>Facebook </h3></td>
						<td><h3><?php echo ': '.$row->facebook;?></he></td>
					</tr>
					<tr>
						<td><h3>Twitter </h3></td>
						<td><h3><?php echo ': '.$row->twitter;?></he></td>
					</tr>
					<tr>
						<td><h3>Instagram </h3></td>
						<td><h3><?php echo ': '.$row->instagram;?></h3></td>
					</tr>
				</table>
			</div>
			<!-- col -->
		</div>
		<!-- .row-->
		<?php endforeach;?>

		<div class="row">
			<div class="col-lg-12">
				<h4 class="Edit_Profil"><a href="<?php echo base_url().'index.php/Alumni/edit_profile_alumni/'.$row->id_alumni;?>">Edit Profil</a></h4>
			</div>
			<!--.col-->
		</div>
		<!--/.row-->
		<br>

		<!-- tempat kerja -->
		<?php foreach($data_tempat_kerja as $row2):?>
		<div class="row">
			<div class="col-lg-12 table-responsive">
				<table class="table">
					<tr>
						<td><h3>Tempat Bekerja </h3></td>
						<td><h3><?php echo ': '.$row2->nama_instansi;?></h3></td>
					</tr>
					<tr>
						<td><h3>Tahun Masuk </h3></td>
						<td><h3><?php echo ': '.$row2->tahun_masuk;?></h3></td>
					</tr>
				</table>
			</div>
			<!-- coll -->
		</div>
		<!-- row -->
	<?php endforeach;?>
		<input id="status_kerja" type="hidden" value="<?php echo $kerja;?>"/>
		<div class="tambah_kerja" id="tambah_kerja">
			<h4 id="b_tambah_kerja"><a href="<?php echo base_url().'index.php/Alumni/tambah_tempat_bekerja';?>">Tambah Tempat Bekerja</a></h4>
		</div>
		<div class="edit_kerja" id="edit_kerja">
			<?php
				if($kerja == 1){
					$id = $row2->id_alumni_fk;
				}else{
					$id=0;
				}
			?>
			<h4 id="b_edit_kerja"><a href="<?php echo base_url().'index.php/Alumni/edit_tempat_bekerja/'.$id;?>">Edit Tempat Bekerja</a></h4>
		</div>
	</div>
	<!--/.main-->
	<script src="<?php echo base_url('assets/js/jquery-1.11.1.min.js');?>"></script>
	<script src="<?php echo base_url('assets/js/bootstrap.min.js');?>"></script>
	<script src="<?php echo base_url('assets/js/chart.min.js');?>"></script>
	<script src="<?php echo base_url('assets/js/chart-data.js');?>"></script>
	<script src="<?php echo base_url('assets/js/easypiechart.js');?>"></script>
	<script src="<?php echo base_url('assets/js/easypiechart-data.js');?>"></script>
	<script src="<?php echo base_url('assets/js/bootstrap-datepicker.js');?>"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script type="text/javascript">
		window.onload = function tes() {
			// alert('tes');
			// document.getElementById('b_tambah_kerja').style.display = 'none';
			// document.getElementById('b_edit_kerja').style.display = 'none';
		var statusKerja = document.getElementById('status_kerja').value;
		// var statusKerja = <?php echo $kerja;?>;
		if(statusKerja == 1){
				document.getElementById('b_edit_kerja').style.display = 'block';
				document.getElementById('b_tambah_kerja').style.display = 'none';

		}else if(statusKerja == 0){
				document.getElementById('b_tambah_kerja').style.display = 'block';
				document.getElementById('b_edit_kerja').style.display = 'none';
		}
	};
		// window.onunload = function(){	};
		// alert('ts2');
		// document.getElementById('b_tambah_kerja').style.display = 'none';
		// document.getElementById('b_edit_kerja').style.display = 'none';
		// var statusKerja = document.getElementById('status_kerja').value;
		// var statusKerja = <?php echo $kerja;?>;
		// if(statusKerja = 1){
		// 		document.getElementById('b_tambah_kerja').style.display = 'none';
		// 		document.getElementById('b_edit_kerja').style.display = 'block';
		//
		// }else{
		// 		document.getElementById('b_edit_kerja').style.display = 'none';
		// 		document.getElementById('b_tambah_kerja').style.display = 'block';
		// }
	</script>

</body>
</html>
