<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tracer Study Stakeholders</title>

    <!-- Bootstrap Core CSS <link href=" <?php //echo base_url('assets/css/bootstrap.min.css');?>" rel="stylesheet"> -->
    <link href="<?php echo base_url('assets/css/bootstrap.min.css');?>" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="<?php echo base_url('assets/css/font-awesome.min.css');?>" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="<?php echo base_url('assets/css/magnific-popup.css');?>" rel="stylesheet"/>

    <!-- Theme CSS -->
    <link href="<?php echo base_url('assets/css/creative.min.css');?>" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </style>
</head>
<body id="page-top">
      <div class="row" style="padding-top:40px;">
        <div class="col-lg-8 col-lg-offset-2">
          <!-- judul tss -->
          <div class="row" style="text-align:center;">
            <div class="col" >
              <img src="<?php echo base_url('assets/img/umm.png')?>" alt="" style="heigh:auto; width:15%;">
              <h3 style="font-weight:bold;">Laporan Hasil Pengisian</h3>
              <h4 ><i>Form Tracer Study Stakeholders</i></h4>
            </div>
          </div>
          <br>
          <!-- isi tss -->
            <table class="table" >
              <tr>
                <td style="font-weight:bold;" width="40%">Nama Pengisi Form Stakeholders :</td>
                <td><?php echo $nama;?></td>
              </tr>
              <tr>
                <td style="font-weight:bold;">Nama Perusahaan / Instansi :</td>
                <td><?Php echo $perusahaan;?></td>
              </tr>
              <tr>
                <td style="font-weight:bold;">Jabatan :</td>
                <td><?php echo $jabatan;?></td>
              </tr>
              <tr>
                <td style="font-weight:bold;">Nama Alumni UMM :</td>
                <td><?php echo $alumni;?></td>
              </tr>
            </table>
            <br>
            <table border="2">
              <tr>
                <td style="font-weight:bold;">No.</td>
                <td align="center" style="font-weight:bold;">Pertanyaan</td>
                <td style="font-weight:bold;">Keterangan</td>
              </tr>
              <tr>
                <td colspan="2" style="font-weight:bold;">A. Integritas (Etika dan Moral)</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>Mampu mematuhi segala peraturan perusahaan / instansi tempat bekerja</td>
                <td><?php
                  if($p1 == 1 || $p1 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p1 == 2 || $p1 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p1 == 3 || $p1 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p1 == 4 || $p1 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
              </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>Etos Kerja</td>
                <td>
                  <?php
                  if($p2 == 1 || $p2 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p2 == 2 || $p2 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p2 == 3 || $p2 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p2 == 4 || $p2 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
              </td>
              </tr>
              <tr>
                <td>3.</td>
                <td>Disiplin tinggi saat bekerja</td>
                <td>
                  <?php
                  if($p3 == 1 || $p3 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p3 == 2 || $p3 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p3 == 3 || $p3 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p3 == 4 || $p3 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
              </td>
              </tr>
              <tr>
                <td>4.</td>
                <td>Mampu menjaga nama baik dan kualitas perusahaan / instansi tempat bekerja</td>
                <td>
                  <?php
                  if($p4 == 1 || $p4 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p4 == 2 || $p4 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p4 == 3 || $p4 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p4 == 4 || $p4 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
              </td>
              </tr>
              <tr>
                <td>5.</td>
                <td>Mampu menjaga nama baik dan kualitas almamater</td>
                <td>
                  <?php
                  if($p5 == 1 || $p5 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p5 == 2 || $p5 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p5 == 3 || $p5 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p5 == 4 || $p5 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="font-weight:bold;">B. Keahlian berdasarkan bidang ilmu (profesionalisme)</td>
              </tr>
              <tr>
                <td>6.</td>
                <td>Bekerja dalam lingkup keahlian</td>
                <td>
                  <?php
                  if($p6 == 1 || $p6 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p6 == 2 || $p6 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p6 == 3 || $p6 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p6 == 4 || $p6 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
                </td>
              </tr>
              <tr>
                <td>7.</td>
                <td>Bekerja dalam lingkup keahlian yang spesifik</td>
                <td>
                <?php
                if($p7 == 1 || $p7 == '1'){
                  echo '<output name="result">Sangat Baik</output>';
                }else if($p7 == 2 || $p7 == '2'){
                  echo '<output name="result">Rendah</output>';
                }else if($p7 == 3 || $p7 == '3'){
                  echo '<output name="result">Cukup</output>';
                }else if($p7 == 4 || $p7 == '4'){
                  echo '<output name="result">Tinggi</output>';
                }else{
                  echo '<output name="result">Belum mengisi.</output>';
                }
              ?>
              </td>
              </tr>
              <tr>
                <td>8.</td>
                <td>Bekerja dalam lingkup yang tidak sesuai dengan minat</td>
                <td>
                <?php
                if($p8 == 1 || $p8 == '1'){
                  echo '<output name="result">Sangat Baik</output>';
                }else if($p8 == 2 || $p8 == '2'){
                  echo '<output name="result">Rendah</output>';
                }else if($p8 == 3 || $p8 == '3'){
                  echo '<output name="result">Cukup</output>';
                }else if($p8 == 4 || $p8 == '4'){
                  echo '<output name="result">Tinggi</output>';
                }else{
                  echo '<output name="result">Belum mengisi.</output>';
                }
              ?>
              </td>
              </tr>
              <tr>
                <td>9.</td>
                <td>Bekerja sesuai dengan kebutuhan institusi</td>
                <td>
                <?php
                  if($p9 == 1 || $p9 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p9 == 2 || $p9 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p9 == 3 || $p9 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p9 == 4 || $p9 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
                </td>
              </tr>
              <tr >
                <td colspan="2" style="font-weight:bold;">C. Bahasa Asing</td>
              </tr>
              <tr>
                <td>10.</td>
                <td>Mampu berbahasa Inggris</td>
                <td>
                <?php
                  if($p10 == 1 || $p10 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p10 == 2 || $p10 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p10 == 3 || $p10 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p10 == 4 || $p10 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?>
                </td>
              </tr>
              <tr>
                <td>11.</td>
                <td>Mampu berbahasa asing lain</td>
                <td>
                  <?php
                    if($p11 == 1 || $p11 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p11 == 2 || $p11 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p11 == 3 || $p11 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p11 == 4 || $p11 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="font-weight:bold;">D. Penggunaan teknologi informasi.</td>
              </tr>
              <tr>
                <td>12.</td>
                <td>Mampu mengoperasikan komputer secara aktif</td>
                <td>
                  <?php
                    if($p12 == 1 || $p12 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p12 == 2 || $p12 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p12 == 3 || $p12 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p12 == 4 || $p12 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td>13.</td>
                <td>Mampu menyiapkan presentasi dan melakukan presentasi dengan menggunakan komputer</td>
                <td><?php
                  if($p13 == 1 || $p13 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p13 == 2 || $p13 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p13 == 3 || $p13 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p13 == 4 || $p13 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?></td>
              </tr>
              <tr>
                <td>14.</td>
                <td>Mampu menyiapkan penggunaan teknologi informasi untuk mendukung pekerjaan</td>
                <td><?php
                  if($p14 == 1 || $p14 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p14 == 2 || $p14 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p14 == 3 || $p14 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p14 == 4 || $p14 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?></td>
              </tr>
              <tr>
                <td colspan="2" style="font-weight:bold;">E. Komunikasi</td>
              </tr>
              <tr>
                <td>15.</td>
                <td>Mampu berkomunikasi dengan atasan</td>
                <td><?php
                  if($p15 == 1 || $p15 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p15 == 2 || $p15 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p15 == 3 || $p15 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p15 == 4 || $p15 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?></td>
              </tr>
              <tr>
                <td>16.</td>
                <td>Mampu berkomunikasi dengan bawahan</td>
                <td>
                  <?php
                    if($p16 == 1 || $p16 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p16 == 2 || $p16 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p16 == 3 || $p16 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p16 == 4 || $p16 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td>17.</td>
                <td>Mampu berkomunikasi dengan teman sejawat</td>
                <td>
                  <?php
                    if($p17 == 1 || $p17 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p17 == 2 || $p17 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p17 == 3 || $p17 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p17 == 4 || $p17 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td>18.</td>
                <td>Mampu berkomunikasi dengan masyarakat</td>
                <td>
                  <?php
                    if($p18 == 1 || $p18 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p18 == 2 || $p18 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p18 == 3 || $p18 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p18 == 4 || $p18 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="font-weight:bold;">F. Kerjasama Tim</td>
              </tr>
              <tr>
                <td>19.</td>
                <td>Mampu menjalin kerjasama dengan perusahaan / institusi lain</td>
                <td>
                  <?php
                    if($p19 == 1 || $p19 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p19 == 2 || $p19 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p19 == 3 || $p19 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p19 == 4 || $p19 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td>20.</td>
                <td>Mampu menjalin kerjasama antar disiplin</td>
                <td>
                  <?php
                    if($p20 == 1 || $p20 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p20 == 2 || $p20 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p20 == 3 || $p20 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p20 == 4 || $p20 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td>21.</td>
                <td>Mampu menjadi pimpinan kelompok kerja antar disiplin</td>
                <td>
                  <?php
                    if($p21 == 1 || $p21 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p21 == 2 || $p21 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p21 == 3 || $p21 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p21 == 4 || $p21 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="font-weight:bold;">G. Komunikasi</td>
              </tr>
              <tr>
                <td>22.</td>
                <td>Aktif mengikuti seminar / pelatihan / workshop / konfrensi</td>
                <td>
                  <?php
                    if($p22 == 1 || $p22 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p22 == 2 || $p22 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p22 == 3 || $p22 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p22 == 4 || $p22 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td>23.</td>
                <td>Bersedia melanjutkan pendidikan yang lebih tinggi</td>
                <td><?php
                  if($p23 == 1 || $p23 == '1'){
                    echo '<output name="result">Sangat Baik</output>';
                  }else if($p23 == 2 || $p23 == '2'){
                    echo '<output name="result">Rendah</output>';
                  }else if($p23 == 3 || $p23 == '3'){
                    echo '<output name="result">Cukup</output>';
                  }else if($p23 == 4 || $p23 == '4'){
                    echo '<output name="result">Tinggi</output>';
                  }else{
                    echo '<output name="result">Belum mengisi.</output>';
                  }
                ?></td>
              </tr>
              <tr>
                <td>24.</td>
                <td>Berminat mengikuti kursus / pelatihan biasa</td>
                <td>
                  <?php
                    if($p24 == 1 || $p24 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p24 == 2 || $p24 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p24 == 3 || $p24 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p24 == 4 || $p24 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
              <tr>
                <td>25.</td>
                <td>Terbuka terhadap pengembangan keterampilan pengetahuan baru yang sudah berkembang</td>
                <td>
                  <?php
                    if($p25 == 1 || $p25 == '1'){
                      echo '<output name="result">Sangat Baik</output>';
                    }else if($p25 == 2 || $p25 == '2'){
                      echo '<output name="result">Rendah</output>';
                    }else if($p25 == 3 || $p25 == '3'){
                      echo '<output name="result">Cukup</output>';
                    }else if($p25 == 4 || $p25 == '4'){
                      echo '<output name="result">Tinggi</output>';
                    }else{
                      echo '<output name="result">Belum mengisi.</output>';
                    }
                  ?>
                </td>
              </tr>
            </table>
        </div><!--/.row-->
      </div><!--/.col-->

      <!-- jQuery -->
    <script src="<?php echo base_url('assets/jquery/jquery.min.js');?>"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<?php echo base_url('assets/js/bootstrap.min.js');?>"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="<?php echo base_url('assets/js/scrollreveal.min.js');?>"></script>
    <script src="<?php echo base_url('assets/jquery/jquery.magnific-popup.min.js');?>"></script>

    <!-- Theme JavaScript -->
    <script src="<?php echo base_url('assets/js/creative.min.js');?>"></script>

    <!-- copy ke clipboar dengan clipboar.min.js -->
    <script src="<?php echo base_url('assets/js/clipboard.min.js');?>"></script>
    <script src="<?php echo base_url('assets/js/script.js');?>"></script>

    </script>

    </script>
</body>
</html>
