<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
      function prosesFieldset1(){
        var radios = document.getElementsByName('f3');
        for (var r=0, length = radios.length;  r < length; r++){
          if(radios[r].checked){
            var dataf3 = radios[r].value;
            // alert(dataf3);
            if (dataf3 == 1 || dataf3 == 2 ){
              var f3 = dataf3;
              $.ajax({
                url     : "<?php echo base_url().'index.php/TracerStudy/masuk_data_ts_tes_ajax';?>",
                type    : 'post',
                data    : {'f3' : f3, 'proses' : 1},
                success : function(data){
                  console.log(data);
                }
              });
              _('fieldset1').style.display = 'none';
              _('fieldset2').style.display = 'block';
              _('progressBar').value = 25;
            }else{
              var f3 = dataf3;
              $.ajax({
                url     : "<?php echo base_url().'index.php/TracerStudy/masuk_data_ts';?>",
                type    : 'post',
                data    : {'f3' : f3, 'proses' : 1},
                success : function(data){
                  console.log(data);
                }
              });
              _('fieldset1').style.display = 'none';
              _('fieldset3').style.display = 'block';
              _('progressBar').value = 25;
            }
          }else{
            // alert('Maaf, masih ada pertanyaan yang belum dijawab. Mohon untuk diperiksa kembali. Terimakasih.');
          }
        }
      }
    </script>
  </head>
  <body>
    <!--fieldset pertama-->
    <fieldset class="fieldset1" id="fieldset1">
      <!-- f3 -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <label>1. Kapan anda mulai mencari pekerjaan ?</label>
          </div>
        </div>
        <div class="row ">
          <input class="col-lg-1" id="f31" name="f3" type="radio" value="1" class="form-control" <?php	echo set_value('f3', $f3) == 1 ? "checked" : "";?>>
          <label class="col-md-8" for="f31">Sebelum lulus</label>
        </div>
        <div class="row ">
          <input class="col-lg-1" id="f32" name="f3" type="radio" value="2" class="form-control" <?php	echo set_value('f3', $f3) == 2 ? "checked" : "";?>>
          <label class="col-md-8" for="f32">Setelah lulus</label>
        </div>
        <div class="row ">
          <input class="col-lg-1" id="f33" name="f3" type="radio" value="3" class="form-control" <?php	echo set_value('f3', $f3) == 3 ? "checked" : "";?>>
          <label class="col-md-8" for="f33">Tidak mencari kerja</label>
        </div>
      </div>
      <button onclick="prosesFieldset1()">SIMPAN</button>
    </fieldset><!--fieldset1-->
  </body>
</html>
